*.[oa]
*~
*.tar.gz
*.synctex.gz
*.pyc
*.aux
*.log
*.bbl
*.blg
**/bin/*
!**/bin/README.md
*.DS_Store
*.dSYM
archives/
gradient_descent/experiments/*
!gradient_descent/experiments/modules_gammak24/
!gradient_descent/experiments/2019-01-02/
!gradient_descent/experiments/2019-01-04/

**/tmp_data/*
!**/tmp_data/README.md
*#