*.[oa]
*~
*.tar.gz
*.synctex.gz
*.pyc
*.aux
*.log
*.bbl
*.blg
**/bin/*
!**/bin/README.md
*.DS_Store
*.dSYM
**/experiments/*
!test_gsl/experiments/modules_gammak24/
!test_gsl/experiments/2018-12-18/
**/tmp_data/*
!**/tmp_data/README.md
*#