*.[oa]
*~
*.tar.gz
*.pyc
**/bin/*
!**/bin/README.md
*.DS_Store
*.dSYM
**/experiments/*
!**/experiments/Eplot.py
!**/experiments/dEplot.py
!**/experiments/psiplot.py
!**/experiments/2018-example/
**/tmp_data/*
!**/tmp_data/README.md